<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="description" content="Roots Land Real Estate is proud to present this 4 bedroom townhouse for sale In Arabian
                        Ranches 3, Dubai. - Pay 10% for booking - Payment plan available Property Features and
                        Amenities: -
                        Kids play area - Clubhouse - State the art gymnasium - BBQ area - Wadi river - Waterfront
                        townhouse
                        for sale About Bliss 2: Arabian Ranches III, Bliss 2 consists of a holistically designed set of
                        neighborhoods. A pure haven where light, airy livings. Showmore">

    <!-- fontawsome-cdn-import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- monteserrat-font-import -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <!-- page-css-styles-import -->
    <link rel="stylesheet" href="../style/index.css">

    <title>Roots Land Real Estate | Terrace Townhouses | Lazy River | Limited Units </title>

    <!--==================== OPEN GRAPH META TAGS ===================== -->
    <!-- <meta property="og:title" content=" Roots Land Real Estate" /> -->
    <!-- <meta property="og:image" content="/assets/img/PwaImages/ios/512.png" /> -->
    <!-- <meta property="og:description" content="Terrace Townhouses | Lazy River | Limited Units " /> -->

    <!--==================== TWITTER META TAGS ===================== -->
    <!-- <meta name="twitter:title" content="Roots Land Real Estate" /> -->
    <!-- <meta name="twitter:description" content="Terrace Townhouses | Lazy River | Limited Units" /> -->
    <!-- <meta name="twitter:image" content="/assets/img/PwaImages/ios/512.png" /> -->

    <!-- ====================PWA================== -->
    <!-- <link rel="manifest" href="manifest.json" /> -->
    <!-- ios support -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="apple-touch-icon" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <meta name="apple-mobile-web-app-status-bar" content="#6E57E0" /> -->
    <!-- <meta name="theme-color" content="#6E57E0" /> -->

    <!-- ============FAVICONS============== -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="https://i.ibb.co/5MLShQ6/logo-png.png" /> -->
    <!-- <link rel="icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico" /> -->
</head>

<body>

    <!-- navigation-hidden -->
    <div class="navigation-hidden" id="hidden-nav">
        <div class="top-nav-hidden">
            <button class="hidden-btn" onclick="document.getElementById('hidden-nav').style.display = 'none'">X</button>
            <a href="#" class="logo-hidden">
                <img src="https://i.ibb.co/5MLShQ6/logo-png.png" alt="Roots Land Real Estate" border="0" class="" />
            </a>
        </div>
        <ul class="nav-item-list-hidden">
            <li class="">
                <a class="" href="#">
                    <p>Buy</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </li>
            <li class="">
                <a class="" href="#">
                    <p> Rent</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </li>
            <li class="">
                <a class="" href="#">
                    <p>Luxury Properties</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </li>
            <li class="">
                <a class="" href="#">Property Management</a>
            </li>
            <li class="">
                <a class="" href="#">Valuation</a>
            </li>
            <li class="">
                <a class="" href="#">
                    <p>Our Services</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </li>
            <li class="">
                <a class="" href="#">
                    <p>About Us</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </li>
            <li class="">
                <a class="" href="#">Sign in</a>
            </li>
        </ul>
    </div>



    <!-- navbar  -->
    <div class="myContainer navbar ">
        <!-- logo -->
        <div>
            <a href="#">
                <img src="https://i.ibb.co/5MLShQ6/logo-png.png" alt="Roots Land Real Estate" border="0" class="" />
            </a>
        </div>

        <!-- navigation -->
        <div class="navigation">
            <!-- navigation-menu-collaps -->
            <div class="nav-menu">
                <button class="" onclick="document.getElementById('hidden-nav').style.display = 'block'">
                    <!-- menu-icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>
            </div>

            <!-- navigation-items-list -->
            <ul class="nav-item-list" id="mySideBar">
                <li class="">
                    <a class="" href="#">
                        <p>Buy</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">
                        <p> Rent</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">
                        <p>Luxury Properties</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">Property Management</a>
                </li>
                <li class="">
                    <a class="" href="#">Valuation</a>
                </li>
                <li class="">
                    <a class="" href="#">
                        <p>Our Services</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">
                        <p>About Us</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">Sign in</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- hero-section-with-background-img -->
    <div class="hero-background-img">
        <!-- search-bar -->
        <div class="search-bar" style="margin-top: 100px;">
            <!-- search-background -->
            <div class="search-bar-bg">
                <!-- search-by -->
                <div class="search-bar-by">
                    <!-- switch-button -->
                    <p class="">Search By</p>
                    <div class="">
                        <!-- units-switch -->
                        <div>
                            <input type="radio" id="radio1" checked="checked" name="radio-group" />
                            <label for="radio1" class="radio-btn-left">Units</label>
                        </div>
                        <!-- project-switch -->
                        <div>
                            <input type="radio" id="radio2" name="radio-group" />
                            <label for="radio2" class="radio-btn-right">Project</label>
                        </div>
                    </div>
                </div>

                <!-- search-filters -->
                <div class="search-filter">
                    <!-- want-to-select -->
                    <div class="search-filter-want-to-select">
                        <p class="">Want to</p>
                        <!-- select-element -->
                        <div class="">
                            <select name="" id="want-to-select-id" class="">
                                <option value="All">All</option>
                            </select>
                        </div>
                    </div>

                    <!-- type-select -->
                    <div class="search-filter-want-to-select">
                        <p class="">Type</p>
                        <!-- select-element -->
                        <div class="">
                            <select id="type-select-id" class="">
                                <option value="All">All</option>
                            </select>
                        </div>
                    </div>

                    <!-- bed-rooms-select -->
                    <div class="search-filter-want-to-select">
                        <p class="">Bed Rooms</p>
                        <div class="">
                            <!-- select-element -->
                            <select name="" id="bed-rooms-select" class="">
                                <option value="All">All</option>
                            </select>
                        </div>
                    </div>

                    <!-- search-input -->
                    <div class="search-input">
                        <input type="text" placeholder="Enter Area, Location Or Project" class="" />
                    </div>

                    <!-- find-button -->
                    <div class="">
                        <button>Find</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-section -->
    <div class="content-section">
        <!-- headding-left -->
        <div class="headding-left">
            <div class="">
                <div class="">
                    <!-- title -->
                    <h1 class="title">Terrace Townhouses | Lazy River | Limited Units</h1>
                    <!-- sub-title -->
                    <h4 class="sub-title">Arabian Ranches 3, Bills ,Dubai</h4>
                    <!-- tags -->
                    <div class="tags">
                        <div>

                            <span>
                                <i class="fas fa-coins" style="margin-right: 4px;"></i>
                                <p>Sale</p>
                            </span>

                        </div>
                        <div class="">
                            <span class="" style="color:rgb(234, 179, 8); ; border:1px solid rgb(234, 179, 8);">
                                <i class="fa fa-star" style="margin-right: 4px;"></i>
                                <p>Luxury</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- headding-right -->
            <div class="headding-right">
                <div class="">
                    <!-- call-to-action -->
                    <div class="favorite-call-to-action">

                        <a href="#" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-star" viewBox="0 0 16 16">
                                <path
                                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                            </svg>
                            <p style="margin-left: 4px;">Favorite</p>
                        </a>
                    </div>
                    <!-- price -->
                    <div class="price-first">AED 2,620,000</div>
                </div>
            </div>
        </div>

        <!-- property-image-grid -->
        <div class="property-image-grid">
            <!-- main-image -->
            <div class="main-image">
                <img src="https://images.unsplash.com/photo-1600607687939-ce8a6c25118c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2053&q=80"
                    class="" alt="Property Image" />

                <!-- show-x-photos-call-to-action -->
                <div class="show-x-photos-cta">
                    <a href="#" class="" style="display: flex; justify-content: center; align-items: center; ">
                        <img src="../public/icons/Photo.svg" style="width: 32px; margin-right: 4px;" alt="Show Image">
                        <p>Show 15 Photos</p>
                    </a>
                </div>
            </div>
            <!-- sub-images -->
            <div class="sub-images">
                <img src="https://images.unsplash.com/photo-1600607687939-ce8a6c25118c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2053&q=80"
                    class="" alt="Property Image" />
                <img src="https://images.unsplash.com/photo-1600607687939-ce8a6c25118c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2053&q=80"
                    class="" alt="Property Image" />
            </div>
        </div>

        <!-- property-details -->
        <div class="property-details">
            <!-- grid-row-start-1 -->
            <div class="details-section-main">
                <!-- details-hero -->
                <div class="details-hero">
                    <div class="">
                        <!-- title -->
                        <h2 class="">Terrace Townhouses | Lazy River | Limited Units</h1>
                            <!-- sub-title -->
                            <h4 class="">Arabian Ranches 3, Bills ,Dubai</h4>
                    </div>
                    <!-- price -->
                    <div class="detials-price">AED 2,620,000</div>
                </div>

                <!-- property-detials-sub-section -->
                <div class="property-detials-sub-section">
                    <!-- title -->
                    <h2 class="">Property Details</h2>
                    <!-- details -->
                    <div class="property-detials-sub-section-detials">
                        <div class="features-item-details">
                            <img src="../public/icons/AEDSqf.svg" alt="">
                            <p>4,100 sqft / 381 sqm</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/Bed Room.svg" alt="">
                            <p>Bedrooms</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/Bathroom.svg" alt="">
                            <p>Bathrooms</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/Balcony.svg" alt="">
                            <p>Balconies</p>
                        </div>
                    </div>
                </div>
                <!-- property-details-sub-sub-section -->
                <div class="property-details-sub-sub-section">
                    <!-- key-details-row-one -->
                    <div class="key-details">
                        <p>Property Edge</p>
                        <div class="">
                            <p class="">Type</p>
                            <p class=""><b>Townhouses</b></p>
                        </div>
                        <div class="">
                            <p class="">NO.of Rooms</p>
                            <p class=""><b>6</b></p>
                        </div>
                    </div>

                    <hr class="horizontal-line" />

                    <!-- key-details-row-two -->
                    <div class="key-details-2">
                        <p>Service Charge</p>
                        <div class="">
                            <p class="">Kitchin</p>
                            <p class=""><b>Open Ketchin</b></p>
                        </div>
                        <p>Furnished</p>
                    </div>
                </div>

                <!-- unit-features-sub-section -->
                <div class="unit-features-sub-section">
                    <!-- title -->
                    <h2 class="">Unit Features</h2>
                    <!-- features -->
                    <div class="unit-features">
                        <div class="features-item-details">
                            <img src="../public/icons/AEDSqf.svg" alt="">
                            <p>Maids Rooms</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/AEDSqf.svg" alt="">
                            <p>Storage Room</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/AEDSqf.svg" alt="">
                            <p>Covered parking</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/Bed Room.svg" alt="">
                            <p>Shared gym</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/Bed Room.svg" alt="">
                            <p>Terrace</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/Bed Room.svg" alt="">
                            <p>Study</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/Bathroom.svg" alt="">
                            <p>Pets allowed</p>
                        </div>
                        <div class="features-item-details">
                            <img src="../public/icons/Bathroom.svg" alt="">
                            <p>Central Ac</p>
                        </div>
                    </div>
                </div>

                <!-- description-sub-section -->
                <div class="description-sub-section">
                    <!-- title -->
                    <h2 class="">Description</h2>
                    <p class="">Roots Land Real Estate is proud to present this 4 bedroom townhouse for sale In Arabian
                        Ranches 3, Dubai. - Pay 10% for booking - Payment plan available Property Features and
                        Amenities: -
                        Kids play area - Clubhouse - State the art gymnasium - BBQ area - Wadi river - Waterfront
                        townhouse
                        for sale About Bliss 2: Arabian Ranches III, Bliss 2 consists of a holistically designed set of
                        neighborhoods. A pure haven where light, airy livings. Showmore</p>
                </div>
            </div>

            <!-- agent-profile -->
            <div class="agent-profile">
                <div class="profile-main">
                    <div class="">
                        <div class="profile-sub">
                            <!-- photo -->
                            <a href="#"><img src="https://i.ibb.co/BnFxrdP/Ellipse-1.png" alt="Fadi Boush" /></a>
                            <!-- details -->
                            <div>
                                <p class=""><span class="">Agent:</span> Fadi Boush</p>
                                <p class=""><span class="">Ref.NO</span> S1812</p>
                            </div>
                        </div>

                        <!-- contact -->
                        <div class="profile-contact">
                            <div class="">
                                <a href="#" class="">
                                    <img src="../public/icons/Whatsapp.svg" class="contact-icon"
                                        alt="Whatsapp SVG Icon" />

                                    <p>Whatsapp</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="">

                                    <img src="../public/icons/Phone.svg" alt="Whatsapp SVG Icon" class="contact-icon" />
                                    <p>Phone Call</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="">

                                    <img src="../public/icons/Mobile.svg" class="contact-icon"
                                        alt="Whatsapp SVG Icon" />
                                    <p>Mobile Call</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="">
                                    <img src="../public/icons/Email.svg" alt="Whatsapp SVG Icon" class="contact-icon" />
                                    <p>Email</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- call-to-action-section -->
    <div class="call-to-action-section ">
        <div class="myContainer call-to-action-main">
            <!-- title -->
            <h3 class="">List your Property for Sale & Rent</h3>
            <!-- call-to-action -->
            <a href="#" class="">List Now</a>
        </div>
    </div>


    <!-- footer-section -->
    <footer class="myContainer ">
        <div class="footer-main">
            <div class="">
                <p class="footer-link-title">Off Plan Properties</p>
                <div class="footer-links">
                    <a target="_blank" class="">Off-Plan Apartments for Sale</a>
                    <a target="_blank" class="">Off-Plan Properties for Sale</a>
                    <a target="_blank" class="">Off-Plan Villas for Sale</a>
                    <a target="_blank" class="">Properties for Sale by Damac Properties</a>
                    <a target="_blank" class="">Properties for Sale by Dubai Properties</a>
                    <a target="_blank" class="">Properties for Sale by Ellington Properties</a>
                    <a target="_blank" class="">Properties for Sale by Emaar Properties</a>
                    <a target="_blank" class="">Properties for Sale by Mag Lifestyle Development</a>
                    <a target="_blank" class="">Properties for Sale by Nshama</a>
                    <a target="_blank" class="">Properties for Sale by Sobha Realty</a>
                </div>
            </div>
            <div class="">
                <p class="footer-link-title">Properties for Rent</p>
                <div class="footer-links">
                    <a target="_blank" class="">Apartments for Rent in Business Bay</a>
                    <a target="_blank" class="">Apartments for Rent in DIFC</a>
                    <a target="_blank" class="">Apartments for Rent in Downtown Dubai</a>
                    <a target="_blank" class="">Apartments for Rent in Dubai</a>
                    <a target="_blank" class="">Apartments for Rent in Dubai Hills Estate</a>
                    <a target="_blank" class="">Apartments for Rent in Dubai Marina</a>
                    <a target="_blank" class="">Apartments for Rent in JLT</a>
                    <a target="_blank" class="">Luxury Properties for Rent in Dubai</a>
                    <a target="_blank" class="">Offices for Rent in Business Bay</a>
                    <a target="_blank" class="">Properties for Rent in Dubai</a>
                </div>

            </div>
            <div class="">
                <p class="footer-link-title">Properties for Sale</p>
                <div class="footer-links">
                    <a href="#" target="_blank" class="">Apartments for Sale in Bluewaters</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in Business Bay</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in DIFC</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in Downtown Dubai</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in Dubai</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in Dubai Creek Harbour</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in Dubai Hills Estate</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in Dubai Marina</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in JLT</a>
                    <a href="#" target="_blank" class="">Apartments for Sale in Town Square Dubai</a>
                </div>
            </div>
        </div>

        <div class="footer-body">
            <a href="#">
                <img src="https://i.ibb.co/5MLShQ6/logo-png.png" alt="Roots Land Real Estate" border="0" class="" />
            </a>
            <p class="footer-body-title">Established 2007 in Dubai, Roots Land Real Estate slowly but surely grew to be
                one
                of the leading and influential real estate companies in Dubai. We provide extensive real estate services
                covering all of Dubai real estate needs. We provide buying, selling, renting, valuations, market
                research
                and conveyancing for residential or commercial properties in the Dubai Real Estate market.</p>

            <div class="footer-social-links">
                <p class="">Follow-Us</p>
                <div class="">
                    <a href="whatsapp.com" class="myIcon" style="  border: 1.5px solid #4dc247;
  color: #4dc247;"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="facebook.com" class="myIcon" style="  border: 1.5px solid #3B5998;
  color: #3B5998;"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="twitter.com" class="myIcon" style="  border: 1.5px solid #55ACEE;
  color: #55ACEE;"><i class="fa-brands fa-twitter"></i></a>
                    <a href="linkedin.com" class="myIcon" style="  border: 1.5px solid #007BB5;
  color: #007BB5;"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="instagram.com" class="myIcon" style="  border: 1.5px solid #E95950;
  color: #E95950;"><i class="fa-brands fa-instagram"></i></a>
                    <a href="youtube.com" class="myIcon" style="  border: 1.5px solid #FF0000;
  color: #FF0000;"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>

            <hr class="horizontal-line">
            <div class="footer-copyright">
                <a href="#" class="w-64">
                    Prime Tower, Office 2310 Business Bay, Dubai, UAE
                </a>
                <a href="https://www.propertywatch.org/" target="_blank">
                    © 2023 Roots Land Real Estate <br>
                    Powered by <img src="https://i.ibb.co/8P0qyVv/propertywatch-logo-svg.png"
                        class="property-watch-logo" width="150" height="13" style="height: 13px; margin-left: 5px;"
                        alt="PropertyWatch Logo">
                </a>
            </div>

        </div>
    </footer>

    <script src="../service/index.js"></script>


</body>

</html>